In [5]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

import time
import pandas as pd
import numpy as np

#### Search your course and country in the studyportal.com, then copy the results link and paste here
It may take much longer according to your internet condition and server trafic so wait until the page is loaded completely.

In [7]:
url = input('Url: ') 
driver = webdriver.Safari()
driver.get(url)
time.sleep(3)

Url: https://www.mastersportal.com/search/master/data-science-big-data/netherlands

In [8]:
field = url.split('/')[-2]
country = url.split('/')[-1]
country

'netherlands'

In [9]:
no_change_counter = 0
old_height = 0
while True:
    # Try
    new_height = driver.execute_script("return document.body.scrollHeight") 
    driver.execute_script("window.scrollTo(0,{})".format(new_height))
    time.sleep(1)
    if new_height > old_height:
        old_height = new_height
    else:
        time.sleep(3)
        no_change_counter += 1
        
    if no_change_counter >= 3:
        break

In [11]:
results = driver.find_elements(By.XPATH, value = '//a[@class="SearchStudyCard js-bestFitStudycard"]')
len(results)

44

In [12]:
names_list = []
fees_list = []
fees_desc_list = []
duration = []
organization = []
location = []
summary = []
for i in range(len(results)):
    names_list.append(results[i].find_element(By.CLASS_NAME, value='StudyName').text)
    try:
        fees_list.append(int(results[i].find_element(By.CLASS_NAME, value='TuitionValue').text.split(' ')[0].replace(',', '')))
        fees_desc_list.append(results[i].find_element(By.CLASS_NAME, value='TuitionValue').text.split(' ', 1)[1])
        duration.append(results[i].find_element(By.CLASS_NAME, value='DurationValue').text)
        organization.append(results[i].find_element(By.CLASS_NAME, value='OrganisationName').text)
        location.append(results[i].find_element(By.CLASS_NAME, value='OrganisationLocation').text)
        summary.append(results[i].find_element(By.CLASS_NAME, value='Summary').text)
    except:
        fees_list.append(np.nan)
        fees_desc_list.append(np.nan)
        duration.append(np.nan)
        organization.append(np.nan)
        location.append(np.nan)
        summary.append(np.nan)

In [13]:
df = pd.DataFrame(list(zip(names_list, fees_list, fees_desc_list, duration, organization,location, summary)),
                 columns=['Courses', 'Fees', 'Fees Type', 'Duration', 'Organization', 'Location', 'Course Description'], index=None)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Courses             44 non-null     object
 1   Fees                44 non-null     int64
 2   Fees Type           44 non-null     object
 3   Duration            44 non-null     object
 4   Organization        44 non-null     object
 5   Location            44 non-null     object
 6   Course Description  44 non-null     object
dtypes: int64(1), object(6)
memory usage: 2.5+ KB

In [15]:
df

,Courses,Fees,Fees Type,Duration,Organization,Location,Course Description
0,Data Science,2314,EUR / year,2 years,Radboud University,"Nijmegen, Netherlands",The Master's specialisation in Data Science at...
1,Smart Mobility Data Science and Analytics,4000,EUR / year,2 years,EIT Urban Mobility Master School,Multiple locations,Smart Mobility Data Science and Analytics at E...
2,Business Analytics and Operations Research,2253,EUR / year,1 year,Tilburg University,"Tilburg, Netherlands",Do you like working with data and mathematics?...
3,Data Science for Food and Health,2314,EUR / year,2 years,Wageningen University and Research,"Wageningen, Netherlands",You will be able to integrate data science kno...
4,Data Science (DSC),5000,EUR / year,2 years,EIT Digital,Multiple locations,The interdisciplinary Data Science (DSC) progr...
5,Digital Technology Engineering,1104,EUR / year,2 years,Fontys University of Applied Sciences,"Eindhoven, Netherlands",The Master of Science (MSc) in Digital Technol...
6,Data Science and Society,2253,EUR / year,1 year,Tilburg University,"Tilburg, Netherlands",Become a Data Analyst and provide solutions fo...
7,Data Science and Artificial Intelligence,2209,EUR / year,2 years,Eindhoven University of Technology (TU/e),"Eindhoven, Netherlands",Data Science and Artificial Intelligence from ...
8,Data Science in Engineering,2209,EUR / year,2 years,Eindhoven University of Technology (TU/e),"Eindhoven, Netherlands",The Data Science in Engineering programme from...
9,Business Intelligence and Smart Services,2209,EUR / year,1 year,Maastricht University,"Maastricht, Netherlands",Do you look at a mountain of data and see an o...
10,Data Science and Entrepreneurship,2209,EUR / year,2 years,Eindhoven University of Technology (TU/e),"Eindhoven, Netherlands",The Jheronimus Academy of Data Science (JADS) ...
11,Data Science in Business and Entrepreneurship,16700,EUR / year,2 years,Tilburg University,Multiple locations,The Master Data Science in Business and Entrep...
12,"Architecture, Building And Planning - Mastertr...",2209,EUR / year,2 years,Eindhoven University of Technology (TU/e),"Eindhoven, Netherlands","Architecture, Building And Planning - Mastertr..."
13,Data Science for Life Sciences,2209,EUR / year,1½ years,"Hanze University of Applied Sciences, Groningen","Groningen, Netherlands",The Data Science for Life Sciences master prog...
14,Data Driven Design,1084,EUR / year,1 year,HU University of Applied Sciences Utrecht,"Utrecht, Netherlands",The Data Driven Design programme from HU Unive...
15,Societal Resilience,2209,EUR / year,2 years,Vrije Universiteit Amsterdam,"Amsterdam, Netherlands",The two-year Societal Resilience MRes programm...
16,Research Master Business Data Science,2209,EUR / year,2 years,Vrije Universiteit Amsterdam,"Amsterdam, Netherlands",The Research Master Business Data Science MRes...
17,Data Science and Business Analytics,2209,EUR / year,1 year,University of Amsterdam,"Amsterdam, Netherlands",As a graduate of the MSc Data Science and Busi...
18,Psychology - Behavioural Data Science,2209,EUR / year,1 year,University of Amsterdam,"Amsterdam, Netherlands",Understanding data about human behaviour is an...
19,Business Data Science,15900,EUR / year,2 years,Erasmus University Rotterdam,"Rotterdam, Netherlands",The Business Data Science at Erasmus Universit...
20,Applied Data Science,2314,EUR / year,1 year,Graduate School of Natural Sciences,"Utrecht, Netherlands",The Applied Data Science Master’s programme at...
21,Computer Science,2209,EUR / year,2 years,University of Twente (UT),"Enschede, Netherlands",The Computer Science programme offered by Univ...
22,Computer Science (Joint Degree UvA-VU) - Big D...,2314,EUR / year,2 years,Vrije Universiteit Amsterdam,"Amsterdam, Netherlands",The Computer Science (Joint Degree UvA-VU) - B...
23,Astronomy and Data Science,2209,EUR / year,2 years,Leiden University,"Leiden, Netherlands",At the Astronomy and Data Science MSc programm...
24,Data Science: Computer Science,2209,EUR / year,2 years,Leiden University,"Leiden, Netherlands",The Data Science: Computer Science MSc program...
25,Information Studies - Information Systems,2209,EUR / year,1 year,University of Amsterdam,"Amsterdam, Netherlands",The Information Studies - Information Systems ...
26,Data Science for Decision Making,2314,EUR / year,2 years,Maastricht University,"Maastricht, Netherlands",Do you like coming up with elegant solutions f...
27,Data Science and Entrepreneurship,2168,EUR / year,2 years,Jheronimus Academy of Data Science (JADS),Multiple locations,Our master’s program in Data Science and Entre...
28,Econometrics and Operations Research - Marketi...,2314,EUR / year,1 year,Vrije Universiteit Amsterdam,"Amsterdam, Netherlands",The Econometrics and Operations Research - Mar...
29,Datafication and Digital Literacy,2209,EUR / year,1½ years,University of Groningen,"Leeuwarden, Netherlands",This Datafication and Digital Literacy program...
30,Big Data and Business Analytics,22500,EUR / year,2 years,University of Amsterdam,"Amsterdam, Netherlands",To succeed in an increasingly digitalised and ...
31,Data Science,6000,EUR / year,1½ years,European Leadership University,Online,Prepare for the hottest job in the tech age by...
32,Information Studies - Data Science,2209,EUR / year,1 year,University of Amsterdam,"Amsterdam, Netherlands","In a data rich world, data science is gaining ..."
33,Methodology and Statistics in Psychology,2209,EUR / year,1 year,Leiden University,"Leiden, Netherlands",At this Methodology and Statistics in Psycholo...
34,Big Data and Data Science Technology,19207,EUR / year,1 year,Northumbria University,Multiple locations,At Big Data and Data Science Technology from N...
35,Electrical Engineering,2209,EUR / year,2 years,University of Twente (UT),"Enschede, Netherlands",Would you like to expand your knowledge of des...
36,Data Science and Entrepreneurship,16200,EUR / year,½ year,Jheronimus Academy of Data Science (JADS),Multiple locations,​In preparation of the Master's program Data S...
37,Business Data Science,2314,EUR / year,2 years,Vrije Universiteit Amsterdam,"Amsterdam, Netherlands",Business Data Science from Vrije Universiteit ...
38,Business Information Technology,2209,EUR / year,2 years,University of Twente (UT),"Enschede, Netherlands",The Business Information Technology offered by...
39,Advanced Computing and Systems,2209,EUR / year,2 years,Leiden University,"Leiden, Netherlands",The Advanced Computing and Systems MSc program...
40,Econometrics,2209,EUR / year,1 year,UvA Economics and Business,"Amsterdam, Netherlands",Prepare for a career in one of the most sought...
41,Research in Physics Classical Quantum Information,2209,EUR / year,2 years,Leiden University,"Leiden, Netherlands",This Research in Physics Classical Quantum Inf...
42,Statistics and Data Science,2209,EUR / year,2 years,Leiden University,"Leiden, Netherlands",The two-year Statistics and Data Science MSc p...
43,Econometrics and Operations Research - Econome...,2314,EUR / year,1 year,Vrije Universiteit Amsterdam,"Amsterdam, Netherlands",The Econometrics and Operations Research - Eco...

In [16]:
df.to_excel('{}_{}.xlsx'.format(field, country))