In [1]:
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

In [2]:
url = 'https://www.yelp.co.uk'

In [3]:
driver = webdriver.Safari()

In [4]:
driver.get(url)

In [5]:
search_box = driver.find_element(By.NAME, value='find_desc')
search_box.click()
search_box.send_keys('Restaurants')

In [6]:
search_button = driver.find_element(By.XPATH, value='//*[@id="header_find_form"]/div/div[2]/div/div/button')
search_button.click()

In [35]:
name = driver.find_elements(By.XPATH, value="//div[@class=' businessName__09f24__EYSZE display--inline-block__09f24__fEDiJ border-color--default__09f24__NPAKY']/div/h3/span/a")

In [28]:
stars = driver.find_elements(By.XPATH, value='//div[@class=" border-color--default__09f24__NPAKY"]/div/div/span/div')

In [13]:
num_of_reviews = driver.find_elements(By.XPATH, value='//div[@class=" display--inline-block__09f24__fEDiJ border-color--default__09f24__NPAKY"]/span[@class=" css-chan6m"]')

In [32]:
address = driver.find_elements(By.XPATH, value='//p[@class="css-dzq7l1"]/span[@class=" css-chan6m"]')

In [34]:
address[2].text

''

In [36]:
all_lists_length = [
    len(name),
    len(stars),
    len(num_of_reviews),
    len(address)
]

In [37]:
all_lists_length

[10, 10, 10, 10]

In [39]:
name_list = []
stars_list = []
num_of_reviews_list = []
address_list = []
if len(set(all_lists_length)) == 1:
    for i in range(all_lists_length[0]):
        name_list.append(name[i].text)
        stars_list.append(float(stars[i].get_attribute('aria-label').split(' ')[0]))
        num_of_reviews_list.append(int(num_of_reviews[i].text))
        address_list.append(address[i].text)
else:
    print('Sorry! Some values are missing.')

In [41]:
import pandas as pd

In [52]:
df = pd.DataFrame(list(zip(name_list, stars_list, num_of_reviews_list, address_list)),
                 columns=['Restaurant', 'Stars', 'Number Of Reviews', 'Address'], index=None)

In [53]:
df

             Restaurant  Stars  Number Of Reviews               Address
0           Pieminister    4.5                 65      Northern Quarter
1                  WOOD    4.5                  2  Oxford Road Corridor
2         Almost Famous    4.0                 89
3               Gorilla    4.0                 65
4      Albert’s Schloss    4.5                 96
5          Seoul Kimchi    4.5                 28  Oxford Road Corridor
6            Turtle Bay    4.0                 51  Oxford Road Corridor
7    Federal Cafe & Bar    4.5                103      Northern Quarter
8          Gaucho Grill    4.5                 82           City Centre
9  Hawksmoor Manchester    4.5                 39        Spinningfields